.outline {
    background-color: transparent;
    color: inherit;
}
.btn-primary.outline {
    color: #428bca;
}
.btn-primary.outline:hover,
.btn-success.outline:hover,
.btn-info.outline:hover,
.btn-warning.outline:hover,
.btn-danger.outline:hover {
    color: #fff;
}

.jumbotron {
    background-image: url("../img/bg-banner-home.jpg");
    background-size: 100%;
    background-position: top;
    margin-bottom: 0px;
}

.navbar-default.ms_navbar {
    background-color: #fff;
    border: none;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a{
    color: hsl(221,93%,16%)
}

.navbar-brand {
    height: 100%;
}
#ms-logo {
    width: 160px; 
    margin-right: 60px;
}
#text-form-blue {
    color: #428bca;
}
#text-jumbotron-paragr {
    font-size: 25px;
    color: #fff;
}
#text-title {
    color: #fff;
}

.table > th,td{
    color: #fff;
}
.ms-form{
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    margin: 30px;
}

h4 {
    text-transform: uppercase;
    color:grey;
    font-size: 16px; 
}

#text-paragr-deploy {
    color: lightslategray;
    font-size: 20px;
}

#ms-list-deploy {
    color: lightslategray;
    font-size: 18px;
    
}

.text-deploy-h3 {
    font-size: 20px;
}
.text-paragr-deploy {
    color: lightslategray;
    font-size: 17px; 
}

.ms_colorgrey {
    background-color: #F3F5F9;
}
.ms_color_white {
    background-color:white;
}

#ms_section_loghi {
    padding: 70px; 
}

#ms_slide {
    width: 50%;
}

#ms_color_blue {
    background-color: blue;
}





