.outline {
    background-color: transparent;
    color: inherit;
}
.btn-primary.outline {
    color: #428bca;
}
.btn-primary.outline:hover,
.btn-success.outline:hover,
.btn-info.outline:hover,
.btn-warning.outline:hover,
.btn-danger.outline:hover {
    color: #fff;
}

.jumbotron {
    background-image: url("../img/bg-banner-home.jpg");
    background-size: 100%;
    background-position: top;
    margin-bottom: 0px;
}

.navbar-default.ms_navbar {
    background-color: #fff;
    border: none;
    margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a{
    color: hsl(221,93%,16%);
}
.ms_navbar .navbar-nav>li>a {
    line-height: 30px;
}
.ms_navbar .navbar-btn {
    margin-top: 13px;
    margin-bottom: 13px;
}
.navbar-toggle.collapsed {
    margin-top: 12px;
}
.navbar-brand {
    height: 100%;
}

#ms-logo {
    height: 30px; 
    margin-right: 60px;
}

#text-form-blue {
    color: #428bca;
}
#text-jumbotron-paragr {
    font-size: 25px;
    color: #fff;
}
#text-title {
    color: #fff;
}

.table > th,td{
    color: #fff;
}

.ms-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    margin: 30px;
}

.ms-form-2 {
    background-color: #fff;
    border-radius: 5px;
}

.ms_list_footer {
    padding: 0px;
}

h4 {
    text-transform: uppercase;
    color:grey;
    font-size: 16px; 
}
h2 {
    margin-bottom: 30px;
}

#text-paragr-deploy {
    color: lightslategray;
    font-size: 22px;
}

#text-paragr-Cofounder {
    color: hsl(221,93%,16%);
    font-size: 17px;
}

#ms-list-deploy {
    color: lightslategray;
    font-size: 18px;
}

.form-group {
    padding: 5px;
    margin: 1px;
}

.list-group-item {
    border: 0px;
    border-left: 1px solid #ddd;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
}
.list-group-item:last-child {
    border-bottom-left-radius: 0px;
}

.text-deploy-h3 {
    font-size: 20px;
}
.text-paragr-deploy {
    color: lightslategray;
    font-size: 17px; 
}

.ms_colorgrey {
    background-color: #F3F5F9;
}
.ms_color_white {
    background-color:white;
}

.table .no_border {
    border-top: 0px solid #ddd;
}
.table a {
    color: #fff;
}

#ms_section_loghi {
    padding: 70px; 
}

#ms_slide {
    width: 50%;
}

#ms_rock {
    width: 30%;
    height: 50%;
}

#text-font-12 {
    font-size: 12px;
}

#ms_color_blue {
    background-color: blue;
}

#ms-btn-get {
    background-color: #fff;
}

#ms_color-darkblue {
    background-color: hsl(221,93%,16%);
}

.text-footer-paragr {
    color: lightseagreen;
    font-size: 16px;
}
.text-footer-paragr-2 {
    color: grey;
    font-size: 14px;
}
.text-footer-h3 {
    color: #fff;
    font-size: 18px;
}

.ms_list_footer {
    color: lightseagreen;
    font-size: 16px;
    list-style: none;
    
}

section {
    padding: 28px;
}
div {
    padding: 10px;
}



@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse:not(.in) {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .ms_navbar .navbar-btn {
        margin-top: 13px;
        margin-bottom: 13px;
    }
}





